@import "tailwindcss";

@theme {
  --font-overpass: "Overpass", sans-serif;

  --color-Orange: hsl(25, 97%, 53%);
  --color-White: hsl(0, 0%, 100%);
  --color-Light-Grey: hsl(217, 12%, 63%);
  --color-Dark-Blue: hsl(213, 19%, 18%);
  --color-Very-Dark-Blue: hsl(216, 12%, 8%);
}
